#heading{  color: white;
	text-decoration: underline;
   font-size:20px;
	
}

.main{
	width:200px;
	background-color: purple;
	border-left-color: green;
	padding: 10px;
	border-left-width: 5px;
	border-style:solid;
}
/* Your CSS Code here. */